<div class="classynav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="/shop">Shop</a>
                    <ul class="dropdown">
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="shop-details.html">Shop Details</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                </li>
                <li><a href="/portfolio">Portfolio</a>
                    <ul class="dropdown">
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="single-portfolio.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a>
                    <ul class="dropdown">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="single-post.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/admin/admin-home">Admin</a></li>
            </ul>
        </li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <!-- Search Icon -->
    <div id="searchIcon">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>

</div>