<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- ***** Top Header Area ***** -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Top Header Content -->
                        <div class="top-header-meta">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="The green@gmail.com"><i
                                    class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email:
                                    Thegreen@gmail.com</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i
                                    class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>
                        </div>

                        <!-- Top Header Content -->
                        <div class="top-header-meta d-flex">
                            <!-- Language Dropdown -->
                            <div class="language-dropdown">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">USA</a>
                                        <a class="dropdown-item" href="#">UK</a>
                                        <a class="dropdown-item" href="#">Bangla</a>
                                        <a class="dropdown-item" href="#">Hindi</a>
                                        <a class="dropdown-item" href="#">Spanish</a>
                                        <a class="dropdown-item" href="#">Latin</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Login -->
                            <div class="login">
                                <% if (isAuthenticated) { %>
                                    <a href="/login"><i class="fa fa-user" aria-hidden="true"></i> 
                                        <form action="/logout" class="custom-log-out" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit">Log Out</button>
                                        </form>
                                    </a>
                                <% } else { %>
                                    <a href="/login"><i class="fa fa-user" aria-hidden="true"></i> <span>Login</span></a>
                                <% } %>
                            </div>
                            <!-- Cart -->
                            <% if (isAuthenticated) { %>
                                <div class="cart">
                                    <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span
                                                class="cart-quantity">(1)</span></span></a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Navbar Area ***** -->
    <div class="alazea-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="alazeaNav">

                    <!-- Nav Brand -->
                    <a href="index.html" class="nav-brand"><img src="/img/core-img/Original1.jpg" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Navbar Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/shop">Shop</a>
                                    <ul class="dropdown">
                                        <% if (isAuthenticated) { %>
                                        <li><a href="/orders">Orders</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <% } %>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/portfolio">Portfolio</a></li>
                                    </ul>
                                </li>
                                <% if (isAuthenticated && isAdmin) { %>
                                <li><a href="/admin/admin-home">Admin</a></li>
                                <% } %>
                                <li><a href="/contact">Contact</a></li>
                            </ul>

                            <!-- Search Icon -->
                            <div id="searchIcon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                        </div>
                        <!-- Navbar End -->
                    </div>
                </nav>

                <!-- Search Form -->
                <div class="search-form">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                        <button type="submit" class="d-none"></button>
                    </form>
                    <!-- Close Icon -->
                    <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->